<h3>Testing importing button from the UI lib:</h3>
<p style="text-align: left;">This first button is using the global styles from the library (think flo-scss), while the second button also uses those global styles it also has encapsulated styles. CSS that only lives within its own .scss file. For this example I rounded the corners and gave it a hover.</p>
<webapp-button></webapp-button>
<h3>Testing regular HTML button with classes</h3>
<p style="text-align: left;">Same HTML, but not a UI component from the UI lib. The styles still work because they just use a global classes.</p>
<button class="btn btn-primary" type="submit">App Button</button>


